fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pydantic==2.10.4
numpy==2.2.1
scipy==1.14.1
pandas==2.2.3
scikit-learn==1.6.0
imbalanced-learn==0.12.4
torch==2.5.1
wfdb==4.2.0
reportlab==4.2.5
matplotlib==3.10.0
orjson==3.10.12
joblib==1.4.2
